@page "/asynctask"
<div class="jumbotron">
  @if (Fishes == null){
    <img src="/Images/loading.gif" class="rounded mx-auto d-block" alt="Responsive image">
  }
  else{
    for (int i = 0; i < Fishes.Count; i++){
      <div class="list-group mb-3">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="row">
            <div class="col-md-3">
              <img class="img-thumbnail" src=@Fishes[i].FishImage alt="" height="200px" width="200px">
            </div>  
              <div class="col-md-9">
                <h4 class="text-left">
                  Especie:
                  <small class="text-muted">@Fishes[i].FishSpecie</small>
                </h4>
                <p class="mb-0 text-left">@Fishes[i].DescriptionSpecie</p>
                <footer class="blockquote-footer text-left">Fecha de la publicación
                <cite title="Source Title">@Fishes[i].PublicationDate.ToString("dd/MM/yyyy")</cite>
                </footer>
              </div>
          </div>  
        </a>
      </div>
    }
  }
</div>

@code {
  public List<Fish> Fishes;
  private List<Fish> GetFishes()
  {
    return new List<Fish>(){
      new Fish(){FishSpecie = "Beta 1", DescriptionSpecie = "Descripción del beta 1", FishImage = "/Images/beta2.jpg"},
      new Fish(){FishSpecie = "Beta 2", DescriptionSpecie = "Descripción del beta 2", FishImage = "/Images/beta8.jpg"},
      new Fish(){FishSpecie = "Beta 3", DescriptionSpecie = "Descripción del beta 3", FishImage = "/Images/beta3.jpg"},
    };
  }
  protected override async Task OnInitializedAsync()
  {
    @* La información de la página se va a demorar 3 seg en cargar *@
    await Task.Delay(3000);
    Fishes = GetFishes();
  }
}
